#main {
    background-color: lightgrey;
    font-family: 'Helvetica', sans-serif;
}
#header {
    text-align: center;
    padding: 5px;
}
#img-div {
    background-color: white;
    padding-top: 15px;
    margin: 0px 15px;
}
#img-div img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
#img-div a {
    text-decoration: none;
}
#img-caption {
    text-align: center;
    padding: 5px;
}
#tribute-links {
    text-align: center;
    padding: 30px 0px;
}

#tribute-links a {
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

#tribute-info{
    max-width: 40%;
    margin: 0 auto;
}

#tribute-info a {
    text-decoration: none;
}

ul{
    line-height: 1.6;
}

li {
    margin: 20px auto;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
}
iframe {
    margin: 0 auto;
}